.UsersList .search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.UsersList .search-form input {
  background: none;
  width: 80%;
  padding: .5em;
  border: 0;
  border-bottom: 1px solid #555;
  font-size: 18px;
  text-align: center;
}

.UsersList .User {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem 0;
}

.UsersList .User .user-photo {
  flex: 0 1 90px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-photo  {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #c5c5c5;
}
.user-photo img {
  max-width: 100%;
}

.UsersList .User .user-details {
  flex: 1;
  margin: 0 1rem;
  line-height: 1.3;
}
.UsersList .user-details .key, .user-details .value {
  display: inline-block;
}
.UsersList .user-details .key {
  margin-right: .5em;
}
.UsersList .user-details .user-name {
  font-weight: bold;
}

.UsersList .User .user-progress {
  flex: 0 1 auto;
}
.UsersList .User .button-group {
  margin-bottom: 0.5rem;
  text-align: right;
}
