.CoursesEdit .show.button {
  width: 100%;
  height: 41px;
  position: fixed;
  left: 0px;
  bottom: 0px;
  text-align: center;
}

.CoursesEdit .page-title{
  margin-bottom: 0px;
}

.react-tabs{
  background: #fff;
  padding: 1em;
}