.Header {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 1.5rem 2rem;
  background: #fff;
  border-bottom: #000 solid;
}

.logo {
  border-radius: 7px;
  font-size: 20px;
  text-decoration: none;
}

.logo img{
  max-width: 150px;
}


.menu {
  flex-grow: 1;
  max-width: 700px;
}
.menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.menu > ul > li {
  position: relative;
}
.menu li > ul {
  position: absolute;
  top: 2.2rem;
  display: none;
  z-index: 2;
}
.menu li:hover > ul {
  display: block;
  background-color: #000;
  border-radius: 4px;
  text-align: center;
  height: auto;
  width: 130px;
  left: -30px;
  top: 29px;
}
.menu li:hover > ul li a{
  color: #fff;
}

.menu li ul li {
  border-radius: 0;
  display: block;
  padding: 0;
}
.menu li ul li a {
  padding: .3em 0;
  border: none;
}
.menu li ul li:first-child a {
  padding-top: .6em;
}
.menu li ul li:last-child a {
  padding-bottom: .6em;
}
.menu li ul li a:hover {
  border: none;
}

.menu ul li {
  list-style: none;
  border-radius: 3px;
  padding: 5px 7px;
  font-size: 18px;
  color: #000;
}
.menu li a {
  display: block;
  padding-bottom: .5em;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: #000;
  transition: all .3s;
}
.menu li a:hover {
  border-bottom-color: #fff;
}

.Header .user {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: #000;
}
.Header .user-photo {
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  width: 60px;
  height: 60px;
  font-size: 9px;
  text-align: center;
}


.Header .user-photo img {
  max-width: 100%;
}
.Header .user-name {
  margin-right: .5em;
}
.Header .user-name::after {
  content: " | ";
  display: inline-block;
  margin-left: .5em;
}

.logout-button {
  background: #B41219;
  border: 0;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  border-radius: 50px;
  transition: all .3s;
  padding: 5px 10px;
}
.logout-button:hover {
  opacity: .8;
}
