.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Login .login-box {
  flex: 1;
  padding: 3rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.App {
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.BoxLogin{ }

main{
  padding: 0px ;
}

.Login form input {
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  border-radius: 0px !important;
  margin-bottom: 1em;
  padding: .5em .75em;
  font-size: 16px;
  color: #fff;
  width: 300px;
}

.Login form input::placeholder{
  color: #fff;
}

.Login form button {
  display: block;
  width: 100%;
  margin-bottom: .5rem;
  padding: .6em 0;
  border-radius: 0px;
  font-size: 16px;
  cursor: pointer;
  background: #5EBCA4;
  border: 0;
  color: #fff;  
  font-weight: 500;
  text-transform: uppercase;
}

.ImgLogin{
  margin-bottom: 2em;
  max-width: 240px;
  align-self: center;
}

.lost-password {
  font-size: 12px;
  font-weight: 200;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
}




