.CommentsForm {
  position: relative;
  margin-bottom: 2rem;
}
.CommentsForm .content-field {
  background-color: #fff;
  border-radius: 0px;
  font-size: 17px;
  width: 100%;
  padding: .8em .5em;
  border: thin solid #ccc
}
.CommentsForm .submit .button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: .5em 3em;
  transition: all .3s;
  border-radius: 0px;
}
