.CourseShow .course.edit.button {
  margin-bottom: 3rem;
}
.CourseShow .course-container {
  display: flex;
}

@media (max-width: 768px){

    .CourseShow .course-container{
      display: block;
    }

    .CourseShow .lesson-content{
      padding-right: 0px !important; 
    }

    .CourseShow .course-lessons{
      width: 100% !important;
    }

    .VideoPlayer iframe{
      max-height: 200px;
    }

  
}

.CourseShow .lesson-content {
  flex-grow: 1;
  padding-right: 3rem;
}
.CourseShow .lesson-content .VideoPlayer {
  margin-bottom: 1.8rem;
}
.CourseShow .LessonComments > .CommentsForm {
  margin-bottom: 1.8rem;
}

.CourseShow .course-lessons {
  flex-shrink: 0;
  width: 300px;
}
.CourseShow .course-lessons .progress-bar {
  width: 100%;
  margin-bottom: .3rem;
  font-size: 15px;
}
.CourseShow .course-lessons ul {
  list-style: none;
}
.CourseShow .module-name-wraper {
  cursor: pointer;
}
.CourseShow .module-name-wraper .toggle {
  flex: 1 0 auto;
  text-align: right;
  margin-right: .3rem;
}
.CourseShow .name-wraper {
  display: flex;
  align-items: center;
  background-color: #444;
  color: #fff;
  line-height: 1;
  border-radius: 3px;
  margin: 1px 0;
  padding: 0;
  font-weight: 500;
}
.CourseShow .name-wraper .number {
  font-size: 30px;
  font-weight: 400;
  padding: .3rem .4em .4rem .9rem;
}
.CourseShow .name-wraper .name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}
.CourseShow .module-lessons {
  overflow: hidden;
  max-height: 0;
  padding: 0 1rem;
  transition: max-height .15s ease-out;
}
.CourseShow .module-lessons.active {
  max-height: 999px;
  transition: max-height .25s ease-in;
}
.CourseShow .lesson {
  background-color: #8f8f8f;
}
.CourseShow .lesson.finished {
  background-color: #00ce00 !important;
}
.CourseShow .lesson.active {
  background-color: #777;
}
.CourseShow .lesson.finished.active {
  background-color: #029f02 !important;
}
.CourseShow .lesson button {
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border: 0;
  background: none;
  color: #fff;
}
.CourseShow .lesson .lesson-view-status {
  background: #c5c5c5;
  padding: .14rem .4rem;
  margin-right: 2px;
  border-radius: 5px;
  color: #444;
}
.CourseShow .lesson .lesson-view-status .mi {
  font-size: 30px;
}
.CourseShow .lesson.finished .lesson-view-status {
  background-color: #fff;
  color: #00ce00;
}
