.AttachmentsList {
  display: flex;
  flex-wrap: wrap;
}
.AttachmentsList .attachment {
  flex: 0 1 content;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  padding: .5rem .35rem;
  background: #fff;
}
.AttachmentsList .attachment:hover {
  border-color: #fff;
}

.lesson-attachments-label{
  margin-bottom: 1em;
  font-weight: bold !important;
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin-top: 2em;
}

.AttachmentsList .attachment .attachment-icon {
  transform: rotateZ(-90deg);
}

.AttachmentsList .attachment .attachment-remove-icon {
  color: #ff2c2c;
}
