<h2> Olá {{ user.name }} </h2>
<p>
  Parece que você solicitou uma recuperação de senha da sua conta. Caso queira prosseguir clique no link abaixo:
</p>
<p>
  <a href="{{ resetPasswordUrl }}" target="_blank">Redefinir Senha</a>
</p>
<p>
  Caso não tenha sido você quem fez a solicitação, favor descartar o e-mail.
</p>
<hr>
<p style="text-align:center">{{ appName }}</p>
