@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
}

body {
  background: #eaeaea url('/images/bg.jpg');
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  color: #222;
}
a {
  text-decoration: none;
}

#root {
  display: flex;
  justify-content: center;
}

.material-icons, .mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.mi-12 { font-size: 12px }
.mi-14 { font-size: 14px }
.mi-16 { font-size: 16px }
.mi-18 { font-size: 18px }
.mi-20 { font-size: 20px }
.mi-22 { font-size: 22px }
.mi-24 { font-size: 24px }
.mi-26 { font-size: 26px }
.mi-28 { font-size: 28px }
a.mi {
  color: #333;
}
a.mi:hover {
  color: #000;
}

.error {
  text-align: center;
  color: #f00;
  margin-bottom: 2rem;
}
button.link {
  background: none;
  border: 0;
  cursor: pointer;
}

.page-title {
  margin-bottom: 1em;
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  color: #303030;
}
.section-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1em;
  color: #303030;
}

.slick-arrow::before {
  background: url('/images/arrow-right.png');
  display: block;
  width: 64px;
  height: 64px;
  font-size: 0 !important;
}
.slick-arrow.slick-prev::before {
  transform: rotateY(180deg);
}
.slick-next {
  right: 15px !important;
}

.button {
  display: inline-block;
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.5em 1.8em;
  font-size: 14px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
}
.button:hover {
  opacity: .9;
}
button {
  cursor: pointer;
}

.back .mi {
  vertical-align: -3px;
}

.content-box {
  max-width: 40rem;
  margin: 1rem auto 0;
  padding: 2rem 1rem 3rem;
  border: 1px solid #7f7f7f;
  border-radius: 5px;
}
.model-form.content-box {
  max-width: 60rem;
}

.datatable {
  width: 100%;
  margin: 2rem 0;
}
.datatable tr .id, .datatable tr .actions {
  width: 2em;
}
.datatable tr:nth-child(odd) td {
  background: #dddddd;
}
.datatable tr td, .datatable tr th {
  padding: .5em .8em;
}

.model-field {
  display: flex;
  justify-content: space-between;
}
.model-form .form-field {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.model-form .form-field > label {
  flex: 1;
  padding-right: 1.5em;
  text-align: right;
  line-height: 2rem;
  max-width: 15em;
}
.model-form .form-field .field {
  flex: 1;
}
.model-form button[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
}
.model-form input, .model-form textarea {
  border-radius: 5px;
  border: 1px solid #7f7f7f;
  padding: .25em .5em;
  min-width: 20em;
}
.model-form textarea {
  height: 7.5em;
}

.upload-field {
  border: 2px dashed #999;
  background: #ffffff;
  font-size: 15px;
  text-align: center;
}
.upload-field p {
  padding: 1rem;
}

.edit {
  font-size: 16px;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button i {
  margin-left: .5em;
}
.button.center-content {
  width: 150px;
  font-size: 17px;
  line-height: 1;
  margin-bottom: 1rem;
}
