@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background: #eaeaea url('/images/bg.jpg');
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #222;
}

#root {
  display: flex;
  justify-content: center;
}

.error {
  text-align: center;
  color: #f00;
  margin-bottom: 2rem;
}
button.link {
  background: none;
  border: 0;
  cursor: pointer;
}

.page-title {
  margin-bottom: 1em;
  font-size: 35px;
  font-weight: 200;
  text-align: center;
  color: #303030;
}
.section-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 1em;
  color: #303030;
}

.slick-arrow::before {
  background: url('/images/arrow-right.png');
  display: block;
  width: 64px;
  height: 64px;
  font-size: 0 !important;
}
.slick-arrow.slick-prev::before {
  transform: rotateY(180deg);
}
.slick-next {
  right: 15px !important;
}
