.progress-bar {
  display: inline-block;
  overflow: hidden;
  background: #fff;
  border-radius: 0px;
  min-width: 10rem;
  height: 1.7em;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  color: #ccc;
}
.progress-bar .progress {
  display: inline-block;
  background-color: #5EBCA4;
  padding: .3em 0 .4em;
  text-align: center;
  color: #fff;
}
